@font-face {
    font-family: aquire;
    src: url('./font/Aquire.otf');
}
@font-face {
    font-family: go-bold-2;
    src: url('./font/Gobold Extra2.otf');
}
@font-face {
    font-family: road_rage;
    src: url('./font/Road_Rage.otf');
}

*{
    border: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(#5c1e6e,#5e0a75);
}
.nav_1{
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
    align-items: center;
    position: absolute;

}
.logo{
    color: rgb(255, 247, 247);
    padding: 4px 10px;
    margin: 4px;
    font-family: road_rage;
    font-size: 180%;
}
header ul{
    padding: 2px;
    margin: 10px ;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
}   
ul li{
    margin: 1px 9px;
}

.home, .dropDown:hover{ 
    background-color: white;
    padding: 9px;
    border-radius: 30px ;
    text-decoration: none;
    font-family: aquire;
    color: rgb(0, 0, 0);
    font-size: 80%;
}
.dropDown{
    padding: 9px;
    text-decoration: none;
    font-family: aquire;
    color: rgb(238, 238, 238);
    font-size: 80%;
}

section{
    position: relative;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

@font-face {
    font-family: bebas;
    src: url('./font/BEBAS___.TTF');
}
#text{
    position: absolute;
    /* position: relative; */
    right: -110px;
    font-family: aquire;
    color: white;
    white-space: nowrap;
    font-size: 7vw;
    z-index: 38;
}
@media screen and (max-width: 1024px){
    #text{
        right: -110px;
    }
    
}
@media screen and (min-width: 490px){
    #text{
        right: -190px;
    }
    
}
@media screen and (min-width: 290px){
    #text{
        right: -250px;
    }
    
}
#btn{
    position: absolute;
    top: 400px;
    background-color: white;
    padding: 9px;
    border-radius: 30px ;
    text-decoration: none;
    font-size: 1.2rem;
    z-index: 2;
    font-family: go-bold-2;
    z-index: 10;

    
}
div{
    background: #1c0522;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 50;

}
section img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
#front{
    z-index: 40;
}
#moon{
    mix-blend-mode: screen;
}

div p{
    color: rgb(192, 192, 192);
    font-family: Arial, Helvetica, sans-serif;
    padding: 13px;
    margin: 50px;
    margin-top: 20px;
}
div h2{
    color: rgb(224, 224, 224);
    font-family: aquire;
    font-size: 3rem;
    font-variant: small-caps;
    padding: 30px 2px 1px 30px;
    margin: 0px 1px 0px 40px;
}